.banner-wrapper-get {
    position: relative; 
}

.banners-img-get {
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    object-fit: cover; 
}

.button-container-get {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
}
