/* menuStyles.css */

.menu-container {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 10px;
}

.menu-nav {
    margin-left: 10px;
}

.menu-item {
    margin-right: 10px;
    display: inline;
}
