:root {
    --secondary-color: #blue; 
    --primaryColor:#white;
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    opacity: 1;
    background-color: var(--primaryColor);
    position: relative;
    width: 100%;

}

.logo-img {
    height : 100px;
    margin-right: 70px;
    object-fit: contain;
}

.menu-nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.menu-items {
    margin-right: 20px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.menu-item {
    margin-right: 35px; 
    color: var(--secondary-color); 
    text-decoration: none; 
    transition: color 0.3s; 
    cursor: pointer;

}

.menu-item:hover {
    color: white; 
}

.login-container {
    margin-left: auto;
}

.btn-dark {
    display: inline-block;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 1em; 
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-toggle-item {
    margin:  15px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

.form-toggle-item.active {
    background-color: #28a745; 
    color: white;
    border-color: #28a745;
}

.form-toggle-item:not(.active):hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}   
.submenu {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: var(--primaryColor); 
    border: 1px solid var(--secondary-color);
    z-index: 1000;
    padding: 0.5rem 0; 
    width: 100%;
    cursor: pointer;

}


.submenu-item {
    margin-right: 20px;
    color: var(--secondary-color); 
    text-decoration: none; 
    transition: color 0.3s; 
}


.submenu-item:hover {
    color: white; 
}
