html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background-container-search {
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 22px;
    opacity: 1;
    padding: 20px; 
    margin-top: 25px;
    display: flex; /* Added for the two-column layout */
}

.search-content {
    display: flex;
    width: 100%;
}

.search-filters {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd; /* Optional: Adds a border between the filters and the product list */
    height: calc(100vh - 60px); /* Adjust the height if needed */
    overflow-y: auto; /* Adds a scrollbar if needed */
}

.product-list-container {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-info h1 {
    text-align: center;
    font: normal normal bold 40px/47px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-bottom: 20px; 
}

.search-info p {
    font-size: 1.4em; 
    margin-bottom: 10px;
}

.search-elements-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
}

.search-elements-filters select,
.search-elements-filters button {
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-elements-filters button {
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

.search-elements-filters button:hover {
    background-color: #e2e6ea;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin: 20px 0; 
}

.filter-button-container {
    grid-column: 2; 
    display: flex;
    justify-content: center; 
}

.pagination-controls button,
.pagination-controls select {
    margin: 0 5px;
    align-items: center;
}

.pagination-controls span {
    margin: 0 10px; 
}

.product-list-search {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px; 
    border: 1px solid #ddd; 
    overflow: hidden; 
    background: #fff; /* Optional: Background color for better readability */
}

.product-item-search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.product-image-container-search {
    position: relative;
    margin-right: 20px;
    width: 30%; 
    height: 50%; 
    overflow: hidden;
}

.center-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.side-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-item-search:hover .side-imagen {
    opacity: 1;
}

.product-item-search:hover .center-image {
    opacity: 0;
}

.product-details-search {
    display: flex;
    align-items: center;
    margin: 5%;

}

.description-list {
    flex: 1;
    padding-right: 50px;
}

.products-buy-details {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-right: 65px;
}

.product-info-search {
    font: normal normal normal 22px/29px Roboto;
    color: #555;
    margin: 0; 
}
.product-price {
    font-size: 50px; 
    font: normal normal normal 32px/29px Roboto;
}

.shop-control-elements {
    margin-top: 20px; 
    margin-bottom: 20px; 
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente si es necesario */
}


.shop-control-elements button:hover {
    background-color: #495057; /* Color de fondo del botón al pasar el ratón */
    border-color: #495057; /* Color del borde del botón al pasar el ratón */
}   